@font-face {
  font-family: "Hubot Sans";
  src: url("../fonts/HubotSans[slnt\,wdth\,wght].woff2") format("woff2");
}

@font-face {
  font-family: "Mango Grotesque";
  src: url("../fonts/Mango\ Grotesque-VF.woff2") format("woff2");
}

body {
  font-family: "Hubot Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Mango Grotesque", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: var(--sp-xs);
  line-height: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

p,
ul,
code,
ol {
  max-width: 40rem;
  line-height: 1.5;
}

h1 {
  font-size: 4.9375rem;
}

h1.large {
  font-size: 6.25rem;
}

h2 {
  font-size: 3.8125rem;
  margin-bottom: var(--sp-lg);
}

h3 {
  font-size: 2.875rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 1.0625rem;
  margin-bottom: var(--sp-sm);
  font-weight: 500;
}

h6 {
  font-size: 0.875rem;
  margin-bottom: var(--sp-sm);
  font-weight: 600;
}

p.label {
  font-stretch: condensed;
  font-size: 1.0625rem;
  line-height: 0.9375rem;
  margin-bottom: var(--sp-xs);
  font-weight: 500;
  letter-spacing: 0.0125rem;
  text-transform: uppercase;
}

p {
  line-height: 175%;
  margin-bottom: var(--sp-xl);
}

p.label.orange {
  color: var(--primary-500);
}

small {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-bottom: var(--sp-base);
}

.hubot-sans {
  font-family: "Hubot Sans", Arial, Helvetica, sans-serif;
}

.hubot-sans-condensed {
  font-family: "Hubot Sans", Arial, Helvetica, sans-serif;
  font-stretch: condensed;
}

.mango-grotesque {
  font-family: "Mango Grotesque", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

em {
  font-style: normal;
  font-weight: bold;
}

code {
  display: block;
  padding: var(--sp-sm);
  background-color: var(--zinc-900);
  border: 1px solid var(--zinc-700);
  margin-bottom: var(--sp-xl);
}
