@import url("/css/variables.css");

* {
  box-sizing: border-box;
}

html {
  background-color: var(--zinc-950);
  color: var(--text-primary);
}

a:visited,
a {
  color: var(--text-primary);
  transition: color 0.25s;
}

a:hover {
  color: var(--primary-500);
}

a.primary {
  background-color: var(--primary-500);
  text-decoration: none;
  font-stretch: condensed;
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  font-weight: 500;
  color: var(--zinc-950);
  padding: var(--sp-xs) var(--sp-base);
  display: inline-flex;
  gap: var(--sp-2xs);
  transition: background-color 0.25s;
}

a.primary:hover {
  background-color: var(--primary-600);
}

img {
  width: 100%;
  height: auto;
}

section img {
  max-width: var(--img-xl);
}

.image-link > img,
a img {
  display: block;
  transition: scale 0.25s;
}

.image-link > img:hover,
a img:hover {
  scale: 1.025;
}

.checkbox-with-label {
  display: flex;
  gap: var(--sp-xs);
  margin-bottom: var(--sp-xs);
}

.checkbox-with-label:first-of-type {
  margin-top: var(--sp-sm);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  color: var(--text-primary);
  width: var(--sp-lg);
  height: var(--sp-lg);
  border: 1px solid var(--text-primary);
  transform: translateY(-0.075em);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]::before {
  width: var(--sp-sm);
  height: var(--sp-sm);
  background-color: var(--primary-500);
}

input[type="checkbox"]:checked {
  border-color: var(--primary-500);
  background: url("../img/icons/check.svg"), var(--primary-500);
}
