@import url("./variables.css");

* {
  box-sizing: border-box;
}

html {
  background-color: var(--zinc-950);
  color: var(--text-primary);
}

a:visited,
a {
  color: var(--text-primary);
  transition: color 0.25s;
}

a:hover {
  color: var(--primary-500);
}

a.primary {
  font-family: "Hubot Sans", Arial, Helvetica, sans-serif;
  background-color: var(--primary-500);
  text-decoration: none;
  font-size: 1.0125rem;
  font-weight: 500;
  color: var(--zinc-950);
  padding: var(--sp-xs) var(--sp-base);
  display: inline-flex;
  align-items: center;
  gap: var(--sp-2xs);
  transition: background-color 0.25s;
  justify-content: center;
}

a.primary:hover {
  background-color: var(--primary-600);
}

img {
  width: 100%;
  height: auto;
}

section img {
  max-width: var(--img-xl);
}

.image-link > img,
a img {
  display: block;
  transition: scale 0.25s;
}

.image-link > img:hover,
a img:hover {
  scale: 1.025;
}

.checkbox-with-label {
  display: flex;
  gap: var(--sp-xs);
  margin-bottom: var(--sp-xs);
}

.checkbox-with-label:first-of-type {
  margin-top: var(--sp-sm);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  color: var(--text-primary);
  width: var(--sp-lg);
  height: var(--sp-lg);
  border: 1px solid var(--text-primary);
  transform: translateY(-0.075em);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]::before {
  width: var(--sp-sm);
  height: var(--sp-sm);
  background-color: var(--text-primary);
}

input[type="checkbox"]:checked {
  border-color: var(--text-primary);
  background: url("../img/icons/check.svg"), var(--text-primary);
}

button,
a {
  cursor: pointer;
}

a {
  text-underline-offset: var(--sp-3xs);
}

button,
a.primary,
a.secondary,
a.tertiary {
  min-height: var(--sp-4xl);
  height: var(--sp-4xl);
  padding-left: var(--sp-sm);
  padding-right: var(--sp-sm);
  background-color: var(--primary-500);
  font-weight: 500;
  transition: background-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-style: none;
}

button.tertiary {
  background-color: transparent;
  padding: 0;
  color: var(--primary-500);
}

button:hover,
a.primary:hover,
a.secondary:hover,
a.tertiary:hover,
button:focus,
a.primary:focus,
a.secondary:focus,
a.tertiary:focus {
  background-color: var(--primary-600);
}

.icon-button {
  height: var(--sp-5xl);
  width: var(--sp-5xl);
  transition: background-color 0.25s, color 0.25s;
}

.icon-button.primary {
  color: var(--primary-950);
  background-color: var(--primary-500);
}

.icon-button.primary:hover,
.icon-button.primary:focus {
  background-color: var(--primary-600);
}

.icon-button.secondary {
  color: var(--text-primary);
  background-color: var(--zinc-950);
}

.icon-button.secondary:hover,
.icon-button.secondary:focus {
  color: var(--primary-500);
}

.icon-button.tertiary {
  background-color: transparent;
  color: var(--text-primary);
}

.icon-button.tertiary:hover,
.icon-button.tertiary:focus {
  background-color: var(--zinc-900);
}

.btn-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: var(--sp-xs);
  margin-top: var(--sp-2xs);
  margin-bottom: var(--sp-base);
}

.btn-group button {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  transition: border-color 0.25s, color 0.25s;
}

.btn-group button:hover {
  border-color: var(--primary-500);
  color: var(--primary-500);
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

.btn-group button:focus {
  background-color: var(--primary-500);
  color: var(--zinc-950);
  border-color: var(--primary-500);
}

.promo-card {
  border: 1px solid var(--zinc-700);
  padding: var(--sp-lg);
  padding-top: var(--sp-2xl);
  text-align: center;
}

svg {
  width: var(--sp-2xl);
}

footer {
  display: flex;
  flex-direction: column;
  gap: var(--sp-xs);
  align-items: center;
  margin-top: var(--sp-4xl);
  padding: var(--sp-3xl);
  border-top: 1px solid var(--zinc-800);
}

footer a,
nav a {
  font-family: "Hubot Sans", Arial, Helvetica, sans-serif;
  font-stretch: condensed;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  text-transform: uppercase;
}

footer .links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--sp-base);
}

footer small {
  color: var(--text-tertiary);
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 28rem) {
  footer .links {
    flex-direction: row;
  }
}

div.input {
  display: flex;
  flex-direction: column;
  gap: var(--sp-xs);
  margin-top: var(--sp-2xl);
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  border: none;
  font-family: "Hubot Sans", Arial, Helvetica, sans-serif;
  color: var(--text-primary);
  padding: var(--sp-xs);
  height: var(--sp-4xl);
  transition: background-color 0.125s;
  background-color: var(--zinc-800);
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover {
  background-color: var(--zinc-700);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  background-color: var(--zinc-700);
  border-radius: 0;
}

.td-flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-2xs);
  align-items: center;
}

.chip {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: var(--sp-2xs) var(--sp-xs);
  background-color: var(--zinc-700);
  border-radius: var(--sp-2xl);
  color: var(--text-secondary);
}