@import url("./variables.css");

.flex {
  display: flex;
  flex-direction: row;
}
.primary-header {
  justify-content: flex-end;
  padding: var(--sp-lg);
  padding-left: var(--sp-2xl);
  padding-right: var(--sp-2xl);
  position: sticky;
  top: 0;
  background-color: var(--zinc-950);
  z-index: 100000;
}
.primary-header h3 a {
  font-size: 3rem;
}

.justify-start {
  margin-right: auto;
}

.icon {
  margin: 0 1rem;
}

.primary-nav {
  display: flex;
  gap: var(--sp-lg);
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-toggle {
  display: none;
}

nav a,
footer .links a {
  text-transform: uppercase;
  font-stretch: condensed;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
}

/* mobile nav styling */
@media (max-width: 42rem) {
  .primary-header {
    align-items: center;
  }

  .primary-nav {
    position: fixed;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1000;
    padding: min(10vh, 10rem) 2rem;
    inset: 0 0 0 0;
    background-color: var(--zinc-900);
    transform: translateY(100%);
    transition: transform 0.2s ease-out;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    z-index: 9999;
    background: no-repeat center/100% url("../img/burger.svg");
    /* background-color: red; */
    /* background-repeat: no-repeat; */
    width: 2rem;
    border: 0;
    aspect-ratio: 1;

    top: var(--sp-lg);
    right: var(--sp-lg);
  }
}
