#products .product .product-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product .icon-button .tertiary {
  height: fit-content;
}

.product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--sp-lg);
  padding-top: var(--sp-xl);
  padding-bottom: var(--sp-lg);
  border-bottom: 1px solid var(--zinc-800);
}

.product:first-of-type {
  padding-top: 0;
}

.product:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.product-img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.product-img img {
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--sp-2xs);
}

.product .headline {
  margin-bottom: var(--sp-xs);
}

.price-qty-info {
  margin-top: var(--sp-base);
  display: flex;
  gap: var(--sp-sm);
  align-items: center;
}

.product .icon-button {
  margin-top: calc(var(--sp-5xl) / 3 * -1);
  color: var(--text-tertiary);
}

@media screen and (min-width: 27rem) {
  .product-img {
    width: 60%;
    max-width: 10rem;
  }

  .product {
    flex-direction: row;
  }
}

@media screen and (min-width: 60rem) {
  .product-img {
    width: 60%;
  }

  .product {
    gap: var(--sp-lg);
    padding-top: var(--sp-3xl);
    padding-bottom: var(--sp-2xl);
  }
}
