
section{
}

.about{

}


.about,.story{
    padding-left: var(--sp-5xl);
}
.story{

}

.title, .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about p{
    max-width: 28rem
}

h1{
    font-size: clamp(3rem, 20vw ,10rem);
    line-height: normal;
}
section img{
    max-width: 40%;
}

