@import url(../variables.css);

body {
  padding: var(--sp-base);
}

#order-summary {
  padding: var(--sp-lg);
  background-color: var(--zinc-900);
  height: fit-content;
}

#order-summary > div {
  display: flex;
  flex-direction: column;
  gap: var(--sp-sm);
}

#order-summary > div > div {
  color: var(--text-secondary);
  display: flex;
  justify-content: space-between;
}

#order-summary h5 {
  margin-bottom: 0;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sp-xl);
}

#order-summary a.primary {
  margin-top: var(--sp-xs);
}

h1 {
  margin-bottom: var(--sp-2xl);
}

@media screen and (min-width: 48rem) {
  main {
    padding-top: var(--sp-2xl);
    padding-bottom: var(--sp-2xl);
    margin-left: 5%;
    margin-right: 5%;
  }

  #content {
    grid-template-columns: 1fr 1fr;
    gap: var(--sp-4xl);
  }
}

@media screen and (min-width: 72rem) {
  main {
    margin-left: 10%;
    margin-right: 10%;
  }

  #content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  #products {
    grid-column: 1 / span 3;
  }

  #order-summary {
    grid-column: span 2;
  }
}
