@import url(../variables.css);
main {
  padding: var(--sp-2xl);
}

#content {
    margin-top: var(--sp-2xl);
    display: grid;
    width: 100%;
    max-width: 75rem;
    gap: var(--sp-5xl);
}

#order-summary {
  padding: var(--sp-lg);
  background-color: var(--zinc-900);
  height: fit-content;
}

#order-summary a.primary {
  margin-top: var(--sp-xs);
}

h1 {
  margin-bottom: var(--sp-2xl);
}

#order-summary {
  grid-column: 1;
  order: 1;
}

#order-summary {
  grid-row: span 1;
}

#order-summary table {
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-xs);
  width: 100%;
}

#order-summary td {
  padding-bottom: var(--sp-base);
}

#order-summary table td:last-child {
  text-align: right;
}

#order-summary td:not(.headline) {
  color: var(--text-secondary);
}

.product-info > div:not(.price-qty-info) > span {
  color: var(--text-secondary);
}

@media screen and (min-width: 60rem) {
  #content {
    grid-template-columns: 3fr 2fr;
  }

  #order-summary {
    grid-column: 2;
  }

  #order-summary {
    grid-row: span 2;
    padding: var(--sp-2xl);
  }

  #products {
    grid-row: 1;
  }
}

@media screen and (min-width: 80rem) {
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}