@import url(../variables.css);

main {
  padding: var(--sp-2xl);
  padding-top: var(--sp-sm);
  display: grid;
  column-gap: var(--sp-4xl);
  row-gap: var(--sp-4xl);
  grid-template-columns: 1fr;
}

h1.title-1 {
  padding: var(--sp-2xl);
  padding-bottom: 0;
}

#order-summary {
  padding: var(--sp-lg);
  background-color: var(--zinc-900);
  height: fit-content;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sp-xl);
}

#order-summary a.primary {
  margin-top: var(--sp-xs);
}

h1 {
  margin-bottom: var(--sp-2xl);
}

#order-summary {
  grid-column: 1;
  order: 1;
}

#order-summary {
  grid-row: span 1;
}

#order-summary table {
  margin-top: var(--sp-base);
  margin-bottom: var(--sp-xs);
  width: 100%;
}

#order-summary td {
  padding-bottom: var(--sp-base);
}

#order-summary table td:last-child {
  text-align: right;
}

#order-summary td:not(.headline) {
  color: var(--text-secondary);
}

.product-info > div:not(.price-qty-info) > span {
  color: var(--text-secondary);
}

@media screen and (min-width: 60rem) {
  main {
    grid-template-columns: 3fr 2fr;
  }
  #order-summary {
    grid-column: 2;
  }

  #order-summary {
    grid-row: span 2;
    padding: var(--sp-2xl);
  }

  #products {
    grid-row: 1;
  }
}
