@import url("../variables.css");

main {
  padding: var(--sp-xl);
  overflow: hidden;
}

section {
  /* margin-top: var(--sp-4xl); */
}

.title {
  font-size: clamp(5rem, 20vw + 1rem, 10rem);
}

.contact-form {
  display: grid;
  gap: var(--sp-5xl);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: var(--sp-xl);
}

.contact-info h2 {
  font-family: "Hubot Sans";
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

a.primary {
  grid-column: 2 / 3;
}

#main-info > * {
  margin-bottom: 0;
}

span {
  display: block;
}


input {
  all: unset;
  padding: var(--sp-2xs);
  transition: outline 0.25s, background-color 0.125s;
  outline: 1px solid var(--zinc-700);
  background-color: var(--zinc-800);
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}

#message {
  grid-column: span 2;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4xl);

  /* align-items: flex-end; */
}
.contact-info ul {
  color: rgb(219, 219, 219);
  list-style: none;
  padding: 0;
  margin: 0;
}
textarea {
  background-color: rgb(57, 57, 57);
  border-style: none;
  color: white;
}

.accordion-container {
  border: solid white;
  border-width: 1px 0;
}

.accordion {
  cursor: pointer;
  color: white;
  padding: var(--sp-lg) 0;
  text-transform: uppercase;
}

.faq {
  display: flex;
  flex-direction: column;
  margin-top: var(--sp-6xl);
}

.faq-title h2 {
  font-size: clamp(1rem, 20vw, 7rem);
  line-height: 90%;
}

.map{
    margin-top: var(--sp-5xl);
    max-width: 100%;
    height: 50vh;
    /* height: 100%; */
    object-fit: cover;
    overflow: hidden;
}

@media screen and (min-width: 55rem) {
  main {
    padding: var(--sp-6xl);
  }
  .contact-form {
    grid-template-columns: 3fr 2fr;
  }

  .contact-info {
    margin-left: var(--sp-6xl);
  }

  .accordion-container {
    width: 45vw;
  }

  .faq {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--sp-5xl);
  }
}

/* desktop @ 32 rem  */
@media screen and (min-width: 32rem) {
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--sp-xl);
  }

  .title {
    font-size: clamp(5rem, 20vw + 1rem, 10rem);
  }

}

@media screen and (min-width: 130rem) {
    main{
        margin:0 10%;
    }

}