@import url("../variables.css");

main {
  padding: var(--sp-sm);
}

section {
  margin-top: var(--sp-5xl);
}

.hero {
  display: block;
  margin-top: 5rem;
  text-align: center;
}

.small-header {
  font-family: "Mango Grotesque", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: clamp(1rem, 8vw, 4rem);
}

.large-title {
  line-height: clamp(2rem, 30vw + 1rem, 30rem);
  margin: 0;
  padding: 0;
  font-size: clamp(5rem, 40vw + 1rem, 45rem);
}

.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sp-sm);

  /* overflow: hidden; */
}

.collection-grid a {
  margin-bottom:var(--sp-xl)
}

figure {
  margin: 0;
  height:100%;

}


figcaption {
  margin-top: var(--sp-sm);
}
a {
  text-decoration: none;
}

section img {
  max-width: 100%;
}

.collection-item img {
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.collab-grid {
  display: grid;
  gap: var(--sp-sm);
}

.collab-photo img {
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  opacity: 50%;
}

.collab-photo {
  position: relative;
}
.photo-text {
  font-family: "Mango Grotesque";

  font-size: clamp(1rem, 8vw, 10rem);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /* color: rgb(250, 113, 136); */
  /* color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 48rem) {
  main {
    margin: 0 5%;
  }
  .collection-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .collab-grid {
    grid-template-columns: 1fr 1fr;
  }
}
