@import url("../variables.css");

main h2 {
  margin-bottom: var(--sp-sm);
}

#product-price {
  font-size: 2.875rem;
  margin-bottom: 0;
  font-family: "Mango Grotesque", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#product,
#reviews {
  display: grid;
}

main {
  padding: var(--sp-lg);
  display: flex;
  flex-direction: column;
  gap: var(--sp-5xl);
}

a {
  font-size: 0.875rem;
}

#main-info > * {
  margin-bottom: 0;
}

#product-images img:first-of-type {
  max-width: 100%;
  height: auto;
}

#main-info {
  align-items: baseline;
  margin-bottom: var(--sp-lg);
}

.reviews-info {
  display: flex;
  align-items: center;
  gap: var(--sp-sm);
  margin-bottom: var(--sp-2xl);
}

#reviews {
  width: 100%;
}

#review-stats {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
}

.reviews-info small,
#review-stats h3 {
  margin-bottom: 0;
}

#rating svg,
.rating svg {
  width: var(--sp-lg);
  display: block;
}

#rating,
.rating {
  display: flex;
}

#size-label {
  display: flex;
  justify-content: space-between;
}

#cta {
  display: flex;
  width: 100%;
  justify-content: end;
}

a.primary {
  margin-bottom: var(--sp-base);
}

.number-with-star,
.percentage {
  width: 15%;
}

.review-bar-complete {
  height: var(--sp-base);
  width: 100%;
  background-color: var(--zinc-700);
}

.review-bar {
  width: 70%;
  height: 100%;
  background-color: var(--zinc-500);
}

.percentage {
  width: var(--sp-4xl);
}

.w-90 {
  width: 90%;
}

.w-82 {
  width: 82%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 7%;
}

.w-3 {
  width: 3%;
}

.w-0 {
  width: 0%;
}

.review {
  display: flex;
  gap: var(--sp-base);
  align-items: center;
}

#reviews-container .review:not(.review:last-of-type) {
  margin-bottom: var(--sp-sm);
}

#comments .comment img {
  max-width: var(--sp-6xl);
  border-radius: 100%;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: var(--sp-base);
}

.comment:not(.comment:last-of-type) {
  margin-bottom: var(--sp-lg);
}

.commenter-info {
  display: flex;
  align-items: center;
  gap: var(--sp-base);
}

.commenter-rating {
  display: flex;
  flex-direction: column;
  gap: var(--sp-xs);
}

.commenter-rating .name {
  font-weight: 500;
}

@media screen and (min-width: 48rem) {
  #product,
  #reviews {
    gap: var(--sp-5xl);
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 68rem) {
  #main-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .btn-group {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  main {
    padding-top: var(--sp-5xl);
    padding-bottom: var(--sp-4xl);
    margin-left: 5%;
    margin-right: 5%;
  }
}
