@import url("../variables.css");
#product-price {
  font-size: 2.875rem;
  margin-bottom: 0;
  font-family: "Mango Grotesque", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#product,
#reviews {
  display: grid;
}

main {
  padding: var(--sp-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--sp-6xl);
  max-width: 90rem;
}

#main-info > * {
  margin-bottom: 0;
}

#product-images {
  order: -1;
}

#product-images img:first-of-type {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--sp-lg);
}

#main-info {
  align-items: baseline;
  margin-bottom: var(--sp-sm);
}

.reviews-info {
  display: flex;
  align-items: center;
  gap: var(--sp-sm);
  margin-bottom: var(--sp-2xl);
}

#reviews {
  width: 100%;
  gap: var(--sp-3xl);
}

#review-stats {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
}

.reviews-info small,
#review-stats h3 {
  margin-bottom: 0;
}

#rating svg,
.rating svg,
.rating-lg svg {
  display: block;
}

#rating svg,
.rating-lg svg {
  width: var(--sp-lg);
}

.rating svg {
  width: var(--sp-base);
}

#rating,
.rating,
.rating-lg {
  display: flex;
}

#size-label {
  display: flex;
  justify-content: space-between;
}

#cta {
  margin-top: var(--sp-3xl);
  display: flex;
  width: 100%;
}

a.primary {
  margin-bottom: var(--sp-base);
}

.number-with-star,
.percentage {
  width: 4rem;
}

.review-bar-complete {
  height: var(--sp-base);
  width: calc(100% - 8rem);
  background-color: var(--zinc-700);
}

.review-bar {
  width: 70%;
  height: 100%;
  background-color: var(--zinc-500);
}

.percentage {
  width: var(--sp-4xl);
}

.w-90 {
  width: 90%;
}

.w-82 {
  width: 82%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 7%;
}

.w-3 {
  width: 3%;
}

.w-0 {
  width: 0%;
}

.review {
  display: flex;
  gap: var(--sp-base);
  align-items: center;
}

#reviews-container .review:not(.review:last-of-type) {
  margin-bottom: var(--sp-sm);
}

#comments .comment img {
  max-width: calc(var(--sp-6xl) - var(--sp-xs));
  border-radius: 100%;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: var(--sp-base);
}

.comment:first-of-type {
  border-top: 1px solid var(--zinc-800);
  padding-top: var(--sp-3xl);
}

#review-stats {
  padding-top: var(--sp-3xl);
}

.comment {
  border-bottom: 1px solid var(--zinc-800);
  margin-bottom: var(--sp-3xl);
}

.commenter-info {
  display: flex;
  align-items: center;
  gap: var(--sp-base);
}

.commenter-rating {
  display: flex;
  flex-direction: column;
}

.commenter-rating .name {
  font-weight: 500;
}

#recommended-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sp-2xl);
}

#select-size-label {
  margin-bottom: var(--sp-sm);
}

#select-size {
  margin-bottom: var(--sp-3xl);
}

#select-size,
#select-size-label {
  display: block;
}

@media screen and (min-width: 28rem) {
  #recommended-products {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 48rem) {
  #product,
  #reviews {
    gap: var(--sp-5xl);
    grid-template-columns: 1fr 1fr;
  }

  #recommended-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 80rem) {
  #main-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
