#customer-info {
    display: grid;
    gap: var(--sp-3xl);
}

#confirmation .order-product:last-of-type {
    margin-bottom: var(--sp-2xl);
}

#customer-info span {
    display: block;
    margin-bottom: var(--sp-xs);

    color: var(--text-tertiary);
}

.customer-detail h2 {
    margin-bottom: var(--sp-base);
}

@media screen and (min-width: 25rem) {
    #customer-info {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 40rem) {
    #content {
     grid-template-columns: 1fr 1fr;
     margin-top: var(--sm);
    }

    #customer-info {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 60rem) {
    #customer-info {
        grid-template-columns: 1fr 1fr;
    }
}