@import url("../variables.css");

main {
  padding: var(--sp-2xl);
}

.product .icon-button {
  margin: 0;
  position: absolute;
  bottom: var(--sp-base);
  right: var(--sp-base);
  z-index: 1;
}

.product .icon-button svg {
  width: var(--sp-lg);
  height: auto;
}

.product-img {
  display: inline-block;
  position: relative;
  margin-bottom: var(--sp-xs);
}

.overlay {
  background-color: var(--zinc-950);
  min-height: 2rem;
  min-width: 2rem;
  opacity: 0.2;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.product-img:hover .overlay {
  opacity: 0;
}

#products-grid {
  margin-top: var(--sp-base);
  display: grid;
  gap: var(--sp-xl);
  row-gap: var(--sp-2xl);
}

.product h2 {
  font-size: 1.125rem;
  line-height: 125%;
  margin-bottom: var(--sp-xs);
}

.product span {
  color: var(--text-secondary);
}

@media screen and (min-width: 25.653rem) {
  #products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 48rem) {
  #products-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 2;
  }

  #filters {
    display: block;
  }
}

@media screen and (min-width: 64rem) {
  #products-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 100rem) {
  #products-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}